/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Poppins:wght@300;400;600;700&display=swap');




/* variables  */
:root {
    --primary: #c167ef;
    --secondary: #10bcee;
    --dark: #2b3041;
    --light: #f3f6f9;
}


body {
    font-family: 'Poppins', sans-serif;
}

/* navbar  */
.navbar {
    padding: 1.5rem 0px;
    transition: all 0.5s ease-in-out;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: var(--secondary);
}

.btn-border-radius {
    border-radius: 50px;
}

.navbar .btn-outline-light:hover {
    color: var(--dark);
}

.img-container {
    padding-top: 7rem;
}

.btn-bg-primary {
    background-color: var(--primary);
}

.btn-bg-primary:hover {
    background-color: #933cbe;
}


.navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* header  */

.header {
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero {
    padding-top: 7rem;
}

.hero .lead {
    line-height: 1.7;
}

.icons .color-icon {
    color: var(--primary);
}

@media (max-width: 1000px) {

    .hero .img-container {
        display: flex;
        justify-content: center;
    }




    .hero .text-container {
        display: flex;
        justify-content: center;
        text-align: center;
        border: 1px solid white;

    }
}



/* details  */


.color-list {
    color: var(--primary);
}


/* modal  */
.modal-dialog {
    max-width: 1040px;
}

/* dowload  */
.dowload {
    background-image: url('../images/download-background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mt-7 {
    margin-top: 7rem;
}




@media (max-width:1000px) {

    .text-container {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
    }

    .image-container {
        display: flex;
        justify-content: center;
    }
}